body{
	
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 1.5em;
}
header{
	background: #333;
	color: #fff;
	height: 80px;
	margin-bottom: 20px;
}

footer{
	background: #333;
	color: #fff;
	height: 60px;
	margin-top: 20px;
	text-align: center;
	padding-top: 20px;
}

#book-index{
	text-align: center;
	
}

#book-index img{
	width: 100%;
	padding: 3px;
	boarder:1px #ccc solid;
}

#book-index h3{
	height: 50px;
}

#books-index .btn{
	display: block;
	margin-top: 20px;
}

#books-show h2{
	background: #f4f4f4;
	padding: 10px;
}

.books-show-left{
	float: left;
	width: 40%;
}

.books-show-right{
	float: left;
	width: 60%;
	margin-top: 10px;
}

#books-show .btn{
	margin: 20px 0 0 70px;
}


















